.key {
    transition: all .07s ease !important;
}

.playing {
    transform: scale(1.1) !important;
    border-color: blue !important;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}